In [1]:
import pandas as pd
import numpy as np

In [26]:
class CharVal(object):
    def __init__(self, char, val):
        self.char = char
        self.val = val

    def __str__(self):
        return self.char

def rgb_to_hex(rgb):
    return '#%02x%02x%02x' % rgb
def color_charvals(s):
    r = 255-int(s.attentions*255)
    color = rgb_to_hex((255, r, r))
    return 'background-color: %s' % color

In [103]:
tokens = 'The cat and the milk'.split()
attentions = np.array([1,5,2,6,4])

In [104]:
# token_df = pd.DataFrame({'tokens':tokens})
token_df = pd.DataFrame({'tokens':tokens,'attentions':attentions})
attentions = attentions/attentions.sum()

In [105]:
styled = token_df.style.background_gradient(axis=0,gmap=attentions, \
    low=0,high=1,subset=['tokens'],cmap='Greens')

In [106]:
styled